/* Untuk Tablet
@media all and (max-width: 1000px) {
  .container {
    width: 50%;
    margin-bottom: 50px;
  }
  .header-right{
    width: 50%;
    margin-bottom: 50px;
  }
  .about-wrapper{
    width: 50%;
    margin-bottom: 50px;

  }
  
 
}


/* Untuk Smartphone 
@media all and (max-width: 670px) {
  
}*/

/* Untuk Tablet */
@media all and (max-width: 1024px) {
  .abouts {
    width: auto;
    max-width: 90%;
    margin-bottom: 100px;
  }
  .main h1{
    font-size: 32px
  }
  .heading h3{
    font-size: 20px;
  }

  .section-title{
    width: 50%;
    margin-bottom: 50px;
  }

  .footnote { 
    width: 34%;
    float: left;
  }

  .footer-logo{
    display: none;
  }

  .copyright{
    position: center;
  }
}


/* Untuk Smartphone */
@media all and (max-width: 670px) {
  
  .header-right {
  	display: none;
  }

  .main h1 {
  	font-size: 25px;
  	margin-left: 0;
  }

  .main p {
  	font-size: 15px;
  	margin-left: 0;
  }

  .fa {
  	padding:8px 8px;
  }

  .btn {
  	font-size: 18px;
  }

  .abouts {
    width: 50%;
  }

  .section-title{
    width: 50%;
  }
  
  .footnote { 
    display: none;
  }

  footer{
    text-align: center;
  }

  .copyright{
    position: center;
  }

}
