html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear{
  clear: left;
}

header {
 	height: 50px;
 	width: 100%;
 	background-color: rgba(14, 17, 19, 0.1);
 	position :fixed;
 	top: 0;
 	z-index: 10;
}

.container {
 	max-width: 1170px;
  width: 100%;
 	padding: 0 15px;
 	margin: 0 auto;
}

.logo {
 	width: 210px;
 	margin-top: -6px;
}

.header-left {
 	float: left;
}

.header-right {
	float: right;
	margin-right: -25px;
	font-size: 15px;
	font-family: "Comic Sans MS";
}

.header-right a {
 	line-height: 50px;
 	padding: 0 15px;
 	color: white;
 	display: block;
 	float: left;
 	transition: all 0.7s;
}

.header-right a:hover {
 	background-color: rgba(248, 248, 255, 0.2);
 	color: rgb(255,140,0);
}

.main {
	padding: 180px 0 180px 0;
  	background-image: url(img/5.jpg);
  	background-size: cover;
  	color: white;
  	opacity: 0.9;
}

.like {
	color:orange;
}

.js {
	color: yellow;
}

.main h1 {
	margin-left: 70px;
	letter-spacing: 5px;
	margin-bottom: 5px;
}

.main p {
	margin-top: 20px;
	margin-left: 70px;
	letter-spacing: 1px;
	font-size: 17px;
}

.btn-fa {
	float: right;
	margin-top: 120px;
}

.btn {
	display: inline-block;
	float: left;
	opacity: 0.6;
	margin-right: 7px;
	border-radius: 50%;
	font-size: 25px;
	text-align: center;
 	transition: all 0.7s;
}

.btn:hover {
	background-color: rgba(255,248,220, 1);
	opacity: 1;
}

.ig {
	background-color: #F8F8FF; 
}

.fb {
	background-color: #F8F8FF;
}

.twitter {
	background-color: #F8F8FF;
}

.mail {
	background-color: #F8F8FF;
}

.pin {
	background-color: #F8F8FF;
}

.fa {
	color: black;
	text-align: center;
	padding: 12px 12px;
}

.fa:hover {
	color: deepskyblue;
}

.menu-icon {
	float: right;
	display: none;
	color: white;
	font-size: 30px;
}

.about-wrapper {
  padding-bottom: 80px;
  padding-right: 5%;
  padding-left: 5%;
  background-color: #808080;
  text-align: center;
}

.heading {
  border-bottom: 1px solid #dee7ec;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 15px;
  color: #FFEBCD;
}

.heading h2 {
  font-weight: normal;
}

.about-icon img{
  border-radius: 50%;
  position: relative;
}

.about {
  float: left;
  width: 20%;
}

.about-icon {
  position: relative;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  font-family: "Comic Sans MS";
  color: #b3aeb5;
}

.contact-wrapper {
  padding-bottom: 30px;
  background-color: #dcdcdc;
  text-align: center;
}

.contact-form {
  padding-top: 10px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.heading h3{
	color: black;
  font-weight: normal;
}

.contact-form p{
	color: black;
}

.contact-form input {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-form textarea {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color: #b3aeb5;
  color: #fcfcfc;
}

.contact-submit:hover {
	color: rgb(29, 33, 34);
}

footer {
  background-color: #1C2833;
  width: 100%;
  
}

.footnote .fa {
	color: white;
}

.footnote1 .fa {
	color: white;
}

.footer-wrapper {
  color: #FDFEFE;
}

.footnote {
  width: 25%;
  float: left;
}

.footnote span {
  font-size: 25px;
}

.footnote1 span {
  font-size: 25px;
}


.footnote span {
  font-size: 25px;
}

.contact li {
  list-style: none;
}

.mobile i {
  font-size: 25px;
  padding-right: 12px;
  padding-left: 15px;
}

.info li {
  padding-top: 10px;
}

.media {
  padding-top: 40px;
}

.footer-logo {
  float: right;
}

.group-logo {
  position: absolute;
  right: 80px;
  top: 10px;
}

/*.motto {
  letter-spacing: 5px;
  font-size: 15px;
  position: relative;
  top: 110px;
  right: 18px;
}

.motto span {
  color: orange;
}*/

.footer-area {
  padding: 10px 15px;
  margin: 0 auto;
}

.copyright {
background-color: #17202A;
margin-top: 30px;
padding-bottom: 5px;
padding-top: 5px;
color: #FDFEFE;
font-size: 10px;
}

.copyright p {
  text-align: center;
}
